<a href="https://colab.research.google.com/github/robsonbfreitas/br-python-challenges/blob/master/TrabalhoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando bibliotecas
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('features.csv')
df.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]

In [ ]:
df = df[['Store','Date','Fuel_Price','IsHoliday']]
df.head()

   Store        Date  Fuel_Price  IsHoliday
0      1  2010-02-05       2.572      False
1      1  2010-02-12       2.548       True
2      1  2010-02-19       2.514      False
3      1  2010-02-26       2.561      False
4      1  2010-03-05       2.625      False

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df.set_index(['Date'], inplace=True)

In [ ]:
df.head()

            Store  Fuel_Price  IsHoliday
Date
2010-02-05      1       2.572      False
2010-02-12      1       2.548       True
2010-02-19      1       2.514      False
2010-02-26      1       2.561      False
2010-03-05      1       2.625      False

In [ ]:
y = df[['Fuel_Price']]
y

            Fuel_Price
Date
2010-02-05       2.572
2010-02-12       2.548
2010-02-19       2.514
2010-02-26       2.561
2010-03-05       2.625
...                ...
2013-06-28       3.639
2013-07-05       3.614
2013-07-12       3.614
2013-07-19       3.737
2013-07-26       3.804

[8190 rows x 1 columns]

In [ ]:
X = df[['Store','Fuel_Price','IsHoliday']].shift(1)
X

            Store  Fuel_Price IsHoliday
Date
2010-02-05    NaN         NaN       NaN
2010-02-12    1.0       2.572     False
2010-02-19    1.0       2.548      True
2010-02-26    1.0       2.514     False
2010-03-05    1.0       2.561     False
...           ...         ...       ...
2013-06-28   45.0       3.626     False
2013-07-05   45.0       3.639     False
2013-07-12   45.0       3.614     False
2013-07-19   45.0       3.614     False
2013-07-26   45.0       3.737     False

[8190 rows x 3 columns]

In [ ]:
X = X.dropna()
X

In [ ]:
X = pd.get_dummies(X)
X.head()

            Store  Fuel_Price  IsHoliday_False  IsHoliday_True
Date
2010-02-12    1.0       2.572                1               0
2010-02-19    1.0       2.548                0               1
2010-02-26    1.0       2.514                1               0
2010-03-05    1.0       2.561                1               0
2010-03-12    1.0       2.625                1               0

In [ ]:
reg = LinearRegression()
reg.fit(X,y)

ValueError: ignored

In [ ]:
reg.predict(X)