<a href="https://colab.research.google.com/github/robsonbfreitas/br-python-challenges/blob/master/TrabalhoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando bibliotecas
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('features.csv')
df.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]

In [ ]:
df = df[['Store','Date','Fuel_Price','IsHoliday']]
df.head()

   Store        Date  Fuel_Price  IsHoliday
0      1  2010-02-05       2.572      False
1      1  2010-02-12       2.548       True
2      1  2010-02-19       2.514      False
3      1  2010-02-26       2.561      False
4      1  2010-03-05       2.625      False

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.set_index(['Date'], inplace=True)

In [6]:
df.head()

            Store  Temperature  Fuel_Price  ...         CPI  Unemployment  IsHoliday
Date                                        ...
2010-02-05      1        42.31       2.572  ...  211.096358         8.106      False
2010-02-12      1        38.51       2.548  ...  211.242170         8.106       True
2010-02-19      1        39.93       2.514  ...  211.289143         8.106      False
2010-02-26      1        46.63       2.561  ...  211.319643         8.106      False
2010-03-05      1        46.50       2.625  ...  211.350143         8.106      False

[5 rows x 11 columns]

In [33]:
y = df[['Fuel_Price']]
y

            Fuel_Price
Date
2010-02-05       2.572
2010-02-12       2.548
2010-02-19       2.514
2010-02-26       2.561
2010-03-05       2.625
...                ...
2013-06-28       3.639
2013-07-05       3.614
2013-07-12       3.614
2013-07-19       3.737
2013-07-26       3.804

[8190 rows x 1 columns]

In [34]:
y = y.iloc[1:]
y.head()

            Fuel_Price
Date
2010-02-12       2.548
2010-02-19       2.514
2010-02-26       2.561
2010-03-05       2.625
2010-03-12       2.667

In [43]:
X = df[['Store','Fuel_Price','IsHoliday']].shift(1)
#X = df.shift(1)
X

            Store  Fuel_Price IsHoliday
Date
2010-02-05    NaN         NaN       NaN
2010-02-12    1.0       2.572     False
2010-02-19    1.0       2.548      True
2010-02-26    1.0       2.514     False
2010-03-05    1.0       2.561     False
...           ...         ...       ...
2013-06-28   45.0       3.626     False
2013-07-05   45.0       3.639     False
2013-07-12   45.0       3.614     False
2013-07-19   45.0       3.614     False
2013-07-26   45.0       3.737     False

[8190 rows x 3 columns]

In [44]:
X = X.iloc[1:]
X.head()

            Store  Fuel_Price IsHoliday
Date
2010-02-12    1.0       2.572     False
2010-02-19    1.0       2.548      True
2010-02-26    1.0       2.514     False
2010-03-05    1.0       2.561     False
2010-03-12    1.0       2.625     False

In [45]:
y.shape, X.shape

((8189, 1), (8189, 3))

In [46]:
X = pd.get_dummies(X)
X.head()

            Store  Fuel_Price  IsHoliday_False  IsHoliday_True
Date
2010-02-12    1.0       2.572                1               0
2010-02-19    1.0       2.548                0               1
2010-02-26    1.0       2.514                1               0
2010-03-05    1.0       2.561                1               0
2010-03-12    1.0       2.625                1               0

In [47]:
X.isna().mean()

Store              0.0
Fuel_Price         0.0
IsHoliday_False    0.0
IsHoliday_True     0.0
dtype: float64

In [50]:
reg = LinearRegression()
reg.fit(X,y)

ValueError: ignored

In [13]:
X.shape

(2069, 12)

In [14]:
y.shape

(8190, 1)

In [49]:
reg.predict(X)

array([[2.59228975],
       [2.57571166],
       [2.53583702],
       ...,
       [3.60973941],
       [3.60973941],
       [3.72945814]])